{% include "header.html" %}
{% from 'bootstrap4/form.html' import render_field %}

<div class="container">

    <h2>{{ movie.title }}</h2>
    <h3>{{ showing.date }} | {{ showing.time }} | Adult ${{ showing.ticket_price }} | Child ${{ showing.ticket_price / 2 }}</h3>
    <hr>

</div>

<div class="container">
<form method="POST" action="">
    {{ ticket_form.csrf_token() }}
    {{ render_field(ticket_form.adult_tickets) }}
    {{ render_field(ticket_form.child_tickets) }}
    {{ render_field(ticket_form.submit) }}
</form>
</div>

<div class="modal" id="purchase-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Purchase Tickets</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><h5>{{ movie.title }}</h5></p>
          {% if child_tickets > 0 %}
            <p><h6>{{ adult_tickets }} adult tickets and {{ child_tickets }} child tickets for {{ showing.time }} showing on {{ showing.date }}.</h6></p>
          {% else %}
            <p><h6>{{ adult_tickets }} tickets for {{ showing.time }} showing on {{ showing.date }}.</h6></p>
          {% endif %}
          <p>Total Purchase: ${{ showing.ticket_price * adult_tickets + showing.ticket_price * child_tickets / 2 }}</p>
          <hr>
        <form method="POST" action="">
                {{ purchase_form.csrf_token() }}
                {{ render_field(purchase_form.first_name) }}
                {{ render_field(purchase_form.last_name) }}
                {{ render_field(purchase_form.email) }}
                {{ render_field(purchase_form.credit_card) }}
                {{ render_field(purchase_form.exp_month) }}
                {{ render_field(purchase_form.exp_year) }}
                {{ render_field(purchase_form.secret_code) }}
                {{ render_field(purchase_form.purchase_submit) }}
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="out-of-seats-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Not Enough Seats</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are attempting to purchase {{ tickets }} tickets.</p>
          <p>There are only {{ showing.seats_available }} seats left for this showing.</p>
          <p>Please purchase fewer tickets or choose a different showing.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="payment-failed-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">PAYMENT FAILED</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><h6>Something went wrong with your purchase!</h6></p>
          <p>Please review your payment details and try again.</p>
      </div>
      <div class="modal-footer">
        <form method="POST" action="">
            {{ fail_button.csrf_token() }}
            {{ render_field(fail_button.confirm) }}
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="payment-success-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Payment Success!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your tickets will arrive in the provided email shortly.</p>
          <p>Thank you for using Movie Time!</p>
      </div>
      <div class="modal-footer">
        <form method="POST" action="">
            {{ success_button.csrf_token() }}
            {{ render_field(success_button.confirm) }}
        </form>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}

{% block script %}
        {% if ticket_flag == True %}
            <script>
                var myModal = new bootstrap.Modal(document.getElementById('out-of-seats-modal'))
                myModal.show()
            </script>
        {% endif %}
        {% if purchase_flag == 2 %}
            <script>
                var myModal = new bootstrap.Modal(document.getElementById('payment-failed-modal'))
                myModal.show()
            </script>
        {% elif purchase_flag == 1 %}
            <script>
                var myModal = new bootstrap.Modal(document.getElementById('payment-success-modal'))
                myModal.show()
            </script>
        {% endif %}
        {% if adult_tickets + child_tickets > 0 and ticket_flag == False %}
            <script>
                var myModal = new bootstrap.Modal(document.getElementById('purchase-modal'))
                myModal.show()
            </script>
        {% endif %}
{% endblock %}